/* Maflo - Creative HTML Portfolio */

/************ TABLE OF CONTENTS ***************
1. Fonts
2. Reset
3. Global
4. Main Header
5. Main Slider
6. Gallery Masonry Section / Style Two
7. Main Footer
8. Gallery Four Column
9. Gallery Three Column
10. Gallery Five Column
11. News Section
12. Testimonial Section
13. Services Section
14. Team Section
15. Gallery Light Verion
16. Gallery Skinn Verion
17. Gallery Yellow Verion
18. Page Title
19. Clients Section
20. Biography Section
21. Skills Section
22. Portfolio Single Section One
23. Portfolio Single Section Two
24. Portfolio Single Section Three
25. Portfolio Single Section Four
26. Blog Sidebar Section
27. Blog List Section
28. Blog Detail Section
29. Our Shop
30. Shop Detail Section
31. Contact Map Section
32. Contact Form
33. Contact Information 

**********************************************/

@import url('https://fonts.googleapis.com/css?family=Montserrat:100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,300,300i|Vollkorn:400,400i,600,600i,700,700i,300,300i');

/*font-family: 'Montserrat', sans-serif;
font-family: 'Vollkorn', serif;*/

@import url('font-awesome.css');
@import url('flaticon.css');
@import url('animate.css');
@import url('owl.css');
@import url('jquery-ui.css');
@import url('custom-animate.css');
@import url('jquery.fancybox.min.css');
@import url('jquery.bootstrap-touchspin.css');
@import url('jquery.mCustomScrollbar.min.css');

/*** 

====================================================================
    Reset
====================================================================

 ***/
 
* {
    margin:0px;
    padding:0px;
    border:none;
    outline:none;
}

/*** 

====================================================================
    Global Settings
====================================================================

 ***/

body {
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    color:#777777;
    line-height:1.7em;
    font-weight:400;
    background:#000000;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

::selection{
    background-color:rgb(236, 221, 14);
    color:black;
}

.bordered-layout .page-wrapper{
    padding:0px 50px 0px;
}

a{
    text-decoration:none;
    cursor:pointer;
    color:#3241ff;
}

button{
    cursor:pointer;
}

a:hover,a:focus,a:visited{
    text-decoration:none;
    outline:none !important;
}

h1,h2,h3,h4,h5,h6 {
    position:relative;
    font-weight:normal;
    margin:0px;
    background:none;
    line-height:1.6em;
}

/* Typography */

h1{
    font-size:56px;
}

h2{
    font-size:34px;
}

h3{
    font-size:28px;
}

h4{
    font-size:24px;
}

h5{
    font-size:20px;
}

h6{
    font-size:18px;
}

input,button,select,textarea{
    
}

textarea{
    overflow:hidden;
}

p{
    position:relative;
    line-height:1.8em;  
}

.auto-container{
    position:static;
    max-width:1440px;
    padding:0px 15px;
    margin:0 auto;
}

.medium-container{
    max-width:850px;
}

.page-wrapper{
    position:relative;
    margin:0 auto;
    width:100%;
    min-width:300px;
}

ul,li{
    list-style:none;
    padding:0px;
    margin:0px; 
}

img{
    display:inline-block;
    max-width:100%;
}

.theme-btn{
    display:inline-block;
    transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -webkit-transition:all 0.5s ease;
    -ms-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
}

.centered{
    text-align:center;  
}

/*Btn Style One*/

.btn-style-one{
    position:relative;
    padding:14px 44px 18px 44px;
    line-height:24px;
    color:#ffffff;
    font-size:15px;
    cursor: pointer;
    font-weight:700;
    z-index:1;
    border:1px solid rgba(255,255,255,0.10);
    text-transform:capitalize;
    transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -webkit-transition:all 0.5s ease;
    -ms-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
}

.btn-style-one .arrow{
    position: relative;
    top: 5px;
    color: rgba(255,255,255,0.30);
    font-weight: 400;
    font-size: 26px;
    margin-left: 8px;
    display: inline-block;
    transition:all 0.2s ease;
    -moz-transition:all 0.2s ease;
    -webkit-transition:all 0.2s ease;
    -ms-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
}

.btn-style-one:hover{
    background:#ff1010;
    border-color:#ff1010;
    color:#ffffff;
}
.btn-style-one:hover .arrow {
    color: rgba(255,255,255,0.7);
    margin-left:14px;
}
/* Btn Style Two */

.btn-style-two{
    position: relative;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 10px 28px;
    margin-bottom: 50px;
    display: inline-block;
    background-color: #ff1010;
    text-transform: uppercase;
    border:2px solid #ff1010;
}

.btn-style-two:hover{
    background:none;
    color:#fff;
}

/*Social Icon One*/

.social-icon-one{
    position:relative;
}

.social-icon-one li{
    position:relative;
    margin: 0px 7px;
    color:#222222;
    font-size:18px;
    display:inline-block;
}

.social-icon-one li a{
    position:relative;
    width:42px;
    height:42px;
    font-size:14px;
    color:#ffffff;
    font-weight:400;
    border-radius:50%;
    text-align:center;
    line-height:40px;
    display:inline-block;
    transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    border:1px solid rgba(255,255,255,0.10);
}

.social-icon-one li a:hover{
    color:#ffffff;
    border-color:#ff1010;
    background-color:#ff1010;
}

/* Social Icon Two */

.social-icon-two{
    position:relative;
}

.social-icon-two li{
    position:relative;
    margin-right:3px;
    color:#222222;
    font-size:18px;
    display:inline-block;
}

.social-icon-two li a{
    position:relative;
    width:42px;
    height:42px;
    font-size:14px;
    color:#ffffff;
    font-weight:400;
    text-align:center;
    line-height:40px;
    display:inline-block;
    transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    background-color:rgba(255,255,255,0.10);
}

.social-icon-two li a:hover{
    color:#ffffff;
    background-color:#ff1010;
}

.theme_color{
    color:#ff1010;
}

.preloader{ position:fixed; left:0px; top:0px; width:100%; height:100%; z-index:999999; background-color:#000; background-position:center center; background-repeat:no-repeat; background-image:url(../images/icons/preloader.svg); background-size:100px;}

img{
    display:inline-block;
    max-width:100%;
    height:auto;    
}

/*** 

====================================================================
    Section Title
====================================================================

***/

.sec-title{
    position:relative;
    margin-bottom: 47px;
}

.sec-title h6{
    position:relative;
    color:#ffffff;
    font-weight:300;
    line-height:1.3em;
    padding-left:24px;
    padding-top:18px;
    text-transform:capitalize;
}

.sec-title:after{
    position:absolute;
    content:'';
    left:0px;
    top:0px;
    width:38px;
    height:3px;
    background-color:#ff1010;
}

.sec-title:before{
    position:absolute;
    content:'';
    left:0px;
    top:0px;
    height:38px;
    width:3px;
    background-color:#ff1010;
}

.sec-title.centered{
    text-align: center;
}

.sec-title.light .title{
    color:#ffffff;
}

.sec-title.light h2{
    color:#ffffff;
}

/*** 

====================================================================
    Main Header style
====================================================================

***/

.main-header{
    position:relative;
    z-index:999;
    width:100%;
}

.main-header .main-box{
    position:relative;
    padding:0px 0px;
    left:0px;
    top:0px;
    width:100%;
    background:none;
    -webkit-transition:all 300ms ease;
    -ms-transition:all 300ms ease;
    -o-transition:all 300ms ease;
    -moz-transition:all 300ms ease;
    transition:all 300ms ease;
}

.main-header .main-box .outer-container{
    position:relative;
    padding:0px 40px;
}

.main-header .main-box .logo-box{
    position:relative;
    float:left;
    left:0px;
    z-index:10;
    padding:30px 0px;
}

.main-header .main-box .logo-box .logo img{
    display:inline-block;
    max-width:100%;
    -webkit-transition:all 300ms ease;
    -ms-transition:all 300ms ease;
    -o-transition:all 300ms ease;
    -moz-transition:all 300ms ease;
    transition:all 300ms ease;  
}

.main-header .header-upper{
    position:relative;
    z-index:1;
    padding-top:25px;
}

.main-header .header-upper .auto-container{
    
}

.main-header .header-upper .outer-box{
    position:relative;
    float:right;
    color:#ffffff;
    font-size:16px;
    margin-top:42px;
    margin-left:40px;
    cursor:pointer;
}

.header-style-two .header-upper{
    background-color:#ffffff;
}

.main-header .header-lower .outer-box{
    position:relative;
    float:right;
    padding:13px 0px;
}

.main-header .header-lower .outer-box .cart-box{
    position:relative;
    float:left;
    color:#ffffff;
    font-size:14px;
    background:none;
    margin-top:5px;
    display:inline-block;
    margin-right: 25px;
}

.main-header .header-lower .outer-box .cart-box .cart-box-btn{
    background:none;
    cursor: pointer;
    font-size: 20px;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
}

.main-header .header-lower .outer-box .cart-box .cart-box-btn:after{
    display:none;
}

.main-header .header-lower .outer-box .cart-box-btn .total-cart{
    position:absolute;
    right: -8px;
    top: -8px;
    width:18px;
    height:18px;
    color:#ffffff;
    font-weight:700;
    font-size:11px;
    border-radius:50%;
    text-align:center;
    line-height:18px;
    background-color:#509cf9;
}

.main-header .header-lower .search-box-outer{
    position: relative;
    right:0px;
    float:left;
    color:#ffffff;
    margin-top:2px;
}

.main-header .header-lower .search-box-btn{
    position:relative;
    display:block;
    color:#ffffff;
    padding:0px;
    margin:0px;
    font-size:18px;
    cursor:pointer;
    background:none;
    text-align:right;
    transition:all 200ms ease;
    -moz-transition:all 200ms ease;
    -webkit-transition:all 200ms ease;
    -ms-transition:all 200ms ease;
    -o-transition:all 200ms ease;
}

.main-header .header-lower .search-box-btn:after{
    display:none;
}

.main-header .header-lower .search-box-outer .dropdown-menu{
    top:45px;
    right:0px;
    padding:0px;
    width:280px;
    margin-top:17px;
    border-radius:0px;
    border-top:3px solid #509cf9;
}

.main-header .header-lower .search-box-outer .dropdown-menu > li{
    padding:0px;
    border:none;
    background:none;
}

.main-header .header-lower .search-panel .form-container{
    padding:25px 20px;  
}

.main-header .header-lower .search-panel .form-group{
    position:relative;
    margin:0px; 
}

.main-header .header-lower .search-panel input[type="text"],
.main-header .header-lower .search-panel input[type="search"],
.main-header .header-lower .search-panel input[type="password"],
.main-header .header-lower .search-panel select{
    display:block;
    width:100%;
    height:40px;
    color:#000000;
    font-size:14px;
    line-height:24px;
    background:#ffffff; 
    border:1px solid #e0e0e0;
    padding:7px 40px 7px 15px;
    -webkit-transition:all 300ms ease;
    -ms-transition:all 300ms ease;
    -o-transition:all 300ms ease;
    -moz-transition:all 300ms ease;
    transition:all 300ms ease;
}

.main-header .header-lower .search-panel input:focus,
.main-header .header-lower .search-panel select:focus{
    border-color:#509cf9;   
}

.main-header .header-lower .search-panel .search-btn{
    position:absolute;
    right:0px;
    top:0px;
    width:40px;
    height:40px;
    text-align:center;
    color:#555555;
    font-size:12px;
    background:none;
    cursor:pointer;
}

/*Sticky Header*/

.sticky-header{
    position:fixed;
    opacity:0;
    display:none;
    visibility:hidden;
    left:0px;
    top:0px;
    width:100%;
    padding:0px 0px;
    background:#222222;
    z-index:0;
    transition:all 200ms ease;
    -moz-transition:all 200ms ease;
    -webkit-transition:all 200ms ease;
    -ms-transition:all 200ms ease;
    -o-transition:all 200ms ease;
}

.sticky-header .logo{
    padding:4px 0px 4px;
}

.fixed-header .sticky-header{
    z-index:999;
    opacity:1;
    visibility:visible;
    -ms-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -op-animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -ms-animation-duration: 200ms;
    -moz-animation-duration: 200ms;
    -op-animation-duration: 200ms;
    -webkit-animation-duration: 200ms;
    animation-duration: 200ms;
    -ms-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -op-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -ms-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -op-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;   
}

.fixed-header .sticky-header .auto-container{
    
}

.sticky-header .main-menu .navigation > li > a{
    padding:19px 0px  !important;
    color:#ffffff !important;
}

.sticky-header .main-menu .navigation > li > a:after{
    display:none;
}

.main-header .nav-outer{
    position:relative;
    float: right;
    margin-top: 40px;
}

.main-header .nav-outer .option-box{
    position:relative;
    text-align:right;
}

.main-header .nav-outer .option-box .search-btn{
    position:relative;
    display:inline-block;
}

.main-header .nav-outer .option-box .search-icon-btn{
    position:relative;
    color:#ffffff;
    font-size:18px;
    line-height:1em;
    transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
}

.main-header .nav-outer .option-box .cart-btn{
    position:relative;
    display:inline-block;
    margin-left:22px;
}

.main-header .nav-outer .option-box .cart-btn .cart-icon-btn{
    position:relative;
    color:#ffffff;
    font-size:18px;
    line-height:1em;
    transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
}

.main-header .nav-outer .option-box .cart-btn .cart-icon-btn .total-cart{
    position:absolute;
    right: -10px;
    top: -3px;
    color:#ffffff;
    width:15px;
    height:15px;
    font-size:8px;
    line-height:17px;
    text-align:center;
    border-radius:50%;
    background-color:#ff1010;
}

.main-header .nav-outer .option-box .search-icon-btn:hover,
.main-header .nav-outer .option-box .cart-btn .cart-icon-btn:hover{
    color:#ff1010;
}

.main-header .header-upper .logo-box{
    position: relative;
    padding: 73px 0px 0px;
    transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
}

.main-header .header-upper .logo-box .logo {
    position: relative;
    background: url(../images/logo.png) no-repeat;
}


.main-header .header-lower{
    position:relative;
    background-color:rgba(0,0,0,0.55);
}

.main-menu{
    position:relative;
    float:left;
    -webkit-transition:all 300ms ease;
    -ms-transition:all 300ms ease;
    -o-transition:all 300ms ease;
    -moz-transition:all 300ms ease;
    transition:all 300ms ease;
}

.main-menu .navbar-collapse{
    padding:0px;
    float: left;
}

.main-menu .navigation{
    position:relative;
    margin:0px;
}

.main-menu .navigation > li{
    position:relative;
    float:left;
    margin-right:40px;
    transition:all 200ms ease;
    -moz-transition:all 200ms ease;
    -webkit-transition:all 200ms ease;
    -ms-transition:all 200ms ease;
    -o-transition:all 200ms ease;
}

.main-menu .navigation > li:last-child > ul{
    right:0px;
    left:auto;
}

.main-menu .navigation > li:last-child{
    margin-right:0px;
}

.main-header .header-upper .upper-right{
    position:relative;
}

.main-header .header-upper .info-box{
    position:relative;
    color:#333333;
    font-weight:600;
    padding:22px 0px;
    padding-left:30px;
    padding-right:28px;
    margin-right:30px;
    display:inline-block;
    border-right:1px solid #ecebeb;
}

.main-header .header-upper .info-box .icon-box{
    position:absolute;
    left:0px;
    top:24px;
    color:#091394;
    font-size:20px;
    line-height:1em;
}

.main-header .header-upper .social-box{
    position:relative;
    float:right;
    padding:21px 0px;
}

.main-menu .navigation > li > a{
    position:relative;
    display:block;
    color:#ffffff;
    text-align:center;
    line-height:30px;
    text-transform:capitalize;
    letter-spacing:0px;
    opacity:1;
    font-weight:400;
    padding:25px 0px 15px;
    font-size:16px;
    transition:all 200ms ease;
    -moz-transition:all 200ms ease;
    -webkit-transition:all 200ms ease;
    -ms-transition:all 200ms ease;
    -o-transition:all 200ms ease;
}

.main-menu .navigation > li > a:after{
    position:absolute;
    content:'';
    left:0px;
    bottom:10px;
    width:0px;
    height:2px;
    background-color:#ff1010;
    transition:all 200ms ease;
    -moz-transition:all 200ms ease;
    -webkit-transition:all 200ms ease;
    -ms-transition:all 200ms ease;
    -o-transition:all 200ms ease;
}

.main-menu .navigation > li:hover > a::after,
.main-menu .navigation > li.current > a::after{
    width:100%;
}

.main-menu .navigation > li:hover > a,
.main-menu .navigation > li.current > a,
.main-header.light-version .main-menu .navigation > li:hover > a,
.main-header.light-version .main-menu .navigation > li.current > a{
    opacity:1;
}

.main-menu .navigation > li > ul{
    position:absolute;
    left:0px;
    top:120%;
    min-width:200px;
    z-index:100;
    display:none;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    padding: 0px 0px;
    background-color: #111;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.10);
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.main-menu .navigation > li > ul:before{
    position:absolute;
    content:'';
    left:0px;
    top:-30px;
    width:100%;
    height:30px;
    display:block;
}

.main-menu .navigation > li > ul.from-right{
    left:auto;
    right:0px;  
}

.main-menu .navigation > li > ul > li{
    position:relative;
    width:100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.main-menu .navigation > li > ul > li:last-child{
    border-bottom:none;
}

.main-menu .navigation > li > ul > li > a{
    position:relative;
    display:block;
    padding:12px 18px;
    line-height: 28px;
    font-weight:500;
    font-size:14px;
    text-transform:capitalize;
    color: #ffffff;
    transition:all 200ms ease;
    -moz-transition:all 200ms ease;
    -webkit-transition:all 200ms ease;
    -ms-transition:all 200ms ease;
    -o-transition:all 200ms ease;
}

.main-menu .navigation > li > ul > li:hover > a{
    color: #ffffff;
    padding-left: 20px;
    background: rgba(255, 255, 255, 0.05);
}

.main-menu .navigation > li > ul > li.dropdown > a:after{
    font-family: 'FontAwesome';
    content: "\f105";
    position:absolute;
    right:15px;
    top:14px;
    width:10px;
    height:20px;
    display:block;
    color:#ffffff;
    line-height:20px;
    font-size:16px;
    font-weight:normal;
    text-align:center;
    z-index:5;  
}

.main-menu .navigation > li > ul > li.dropdown:hover > a:after{
    color:#ffffff;
}

.main-menu .navigation > li > ul > li > ul{
    position:absolute;
    left:100%;
    top:100%;
    width:230px;
    z-index:100;
    display:none;
    transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    padding: 0px 0px;
    background-color: #ffffff;
    border: 3px solid #ff1010;
    -webkit-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
    -ms-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
    -o-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
    -moz-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
    box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
}

.main-menu .navigation > li > ul > li > ul.from-right{
    left:auto;
    right:0px;  
}

.main-menu .navigation > li > ul > li > ul > li{
    position:relative;
    width:100%;
    border-bottom: 1px solid #f4f2f2;
}

.main-menu .navigation > li > ul > li > ul > li:last-child{
    border-bottom:none; 
}

.main-menu .navigation > li > ul > li > ul > li > a{
    position:relative;
    display:block;
    padding:12px 18px;
    line-height:24px;
    font-weight:500;
    font-size:14px;
    text-transform:capitalize;
    color:#7c7b7b;
    transition:all 200ms ease;
    -moz-transition:all 200ms ease;
    -webkit-transition:all 200ms ease;
    -ms-transition:all 200ms ease;
    -o-transition:all 200ms ease;
}

.main-menu .navigation > li > ul > li > ul > li:hover > a{
    color:#ffffff;
    padding-left:30px;
    background:#ff1010;
}

.main-menu .navigation > li > ul > li > ul > li.dropdown > a:after{
    font-family: 'FontAwesome';
    content: "\f105";
    position:absolute;
    right:10px;
    top:11px;
    width:10px;
    height:20px;
    display:block;
    color:#272727;
    line-height:20px;
    font-size:16px;
    font-weight:normal;
    text-align:center;
    z-index:5;  
}

.main-menu .navigation > li > ul > li > ul > li.dropdown:hover > a:after{
    color:#ffffff;  
}

.main-menu .navigation > li.dropdown:hover > ul{
    visibility:visible;
    opacity:1;
    top:100%;
    -moz-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.main-menu .navigation li > ul > li.dropdown:hover > ul{
    visibility:visible;
    opacity:1;
    top:0;
    -moz-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    transition:all 300ms ease;
    -moz-transition:all 300ms ease;
    -webkit-transition:all 200ms ease;
    -ms-transition:all 300ms ease;
    -o-transition:all 300ms ease;   
}

.main-menu .navbar-collapse > ul li.dropdown .dropdown-btn{
    position:absolute;
    right: 9px;
    top: 11px;
    width:30px;
    height:30px;
    text-align:center;
    color:#ffffff;
    line-height:28px;
    border: 1px solid rgba(255, 255, 255, 0.23);
    background-size:20px;
    cursor:pointer;
    z-index:5;
    display:none;
}

/*** 

====================================================================
    Search Popup
====================================================================

***/

.search-popup{
    position:fixed;
    left:0px;
    top:-100%;
    width:100%;
    height:100%;
    z-index:9999;
    visibility:hidden;
    opacity:0;
    overflow:auto;
    transition:all 500ms ease;
    -moz-transition:all 500ms ease;
    -webkit-transition:all 500ms ease;
    -ms-transition:all 500ms ease;
    -o-transition:all 500ms ease;
}

.search-popup .color{
    position:absolute;
    content:'';
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;
    background: rgba(0,0,0,0.95);
}

.search-popup.popup-visible{
    top:0;
    visibility:visible;
    opacity:1;
}

.search-popup .close-search{
    position:absolute;
    right:25px;
    top:25px;
    font-size:20px;
    color:#ffffff;
    cursor:pointer;
    z-index:5;
}

.search-popup .popup-inner{
    top:50%;
    position:relative;
    margin-top:-40px;
}

.search-popup .close-search:hover{
    opacity:0.70;   
}

.search-popup .search-form{
    position:relative;
    padding:0px 15px 0px;
    max-width: 744px;
    margin:0 auto;
}

.search-popup .search-form .form-group{
    margin:0px;
}

.search-popup .search-form fieldset{
    position:relative;
    -webkit-border-radius:12px;
    -ms-border-radius:12px;
    -o-border-radius:12px;
    -moz-border-radius:12px;
    border-radius:12px;
}

.search-popup .search-form fieldset input[type="search"],
.search-popup .search-form fieldset input.form-control{
    position:relative;
    height:70px;
    padding:20px 220px 20px 30px;
    background:#ffffff;
    line-height:30px;
    font-size: 19px;
    color:#233145;
    -webkit-border-radius:7px;
    -ms-border-radius:7px;
    -o-border-radius:7px;
    -moz-border-radius:7px;
    border-radius:7px;
}

.search-popup .search-form fieldset input[type="submit"]{
    position:absolute;
    display:block;
    right:0px;
    top:0px;
    text-align:center;
    width:220px;
    padding:20px 10px 20px 10px;
    color:#ffffff;
    background:#ff1010;
    line-height:30px;
    height:70px;
    cursor:pointer;
    font-size:20px;
    text-transform:uppercase;
    -moz-border-radius:0px 7px 7px 0px;
    -ms-border-radius:0px 7px 7px 0px;
    -o-border-radius:0px 7px 7px 0px;
    -webkit-border-radius:0px 7px 7px 0px;
    border-radius:0px 7px 7px 0px;
    font-weight: 500;
    letter-spacing: 0.2em;
}

.search-popup .search-form fieldset input[type="submit"]:hover{
    background:#222222;
    color:#ffffff;
}
/*** 

====================================================================
    Border
====================================================================

***/

.styled-border {
    width: 100%;
    height:1px;
    margin: 30px 0px;
    background: rgba(255, 255, 255, 0.10);
    border-left: 1px solid #ff1010;
    border-width: 40px;
}

/*** 

====================================================================
    Gallery Section
====================================================================

***/

.gallery-section{
    position:relative;
    padding: 137px 0px 143px;
}

.gallery-section .auto-container{
    position:relative;
    
    margin:0 auto;
}

 .gallery-section .row{
    margin:0px -15px;
}

/* Title Box */

.gallery-section .title-box{
    position:relative;
    margin-bottom: 150px;
}

.gallery-section .title-box h1{
    position:relative;
    color:#ffffff;
    font-weight:700;
    line-height:1.2em;
}

.gallery-section .title-box h1 span{
    position:relative;
    color:#ffffff;
    padding:0px 10px;
    background-color:#ff1010;
}

.gallery-section .title-box h1 span:before{
    position:absolute;
    content:'';
    right:0px;
    top:-15px;
    border-bottom: 15px solid red;
    border-left: 15px solid transparent;
}

.gallery-section .title-box .title{
    position:relative;
    font-size:18px;
    font-weight: 500;
    line-height:1.2em;
    margin-top:10px;
    color:rgba(255,255,255,0.20);
}

.gallery-section.style-two .project-block{
    padding:0px 15px;
    float:left;
    width:20%;
}

.project-block{
    position:relative;
    margin-bottom:30px;
}

.project-block .inner-box{
    position:relative;
}

.project-block .inner-box .image{
    position:relative;
}

.project-block .inner-box .image img{
    position:relative;
    width:100%;
    display:block;
}

.project-block .inner-box .image .overlay-box{
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    top: 0px;
    z-index: 2;
    opacity: 0;
    display: block;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.project-block .inner-box .image .overlay-box:before{
    position:absolute;
    content:'';
    right:0px;
    top:0px;
    width:50%;
    height:100%;
    display:block;
    opacity:0;
    text-align:center;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    -webkit-transform: perspective(400px) rotateY(-90deg);
    -moz-transform: perspective(400px) rotateY(-90deg);
    -ms-transform: perspective(400px) rotateY(-90deg);
    -o-transform: perspective(400px) rotateY(-90deg);
    transform: perspective(400px) rotateY(-90deg);
    -webkit-transform-origin: right;
    -moz-transform-origin: right;
    -ms-transform-origin: right;
    -o-transform-origin: right;
    transform-origin: right;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background-color: rgba(0,0,0,0.50);
}

.project-block .inner-box:hover .image .overlay-box:before{
    opacity: 1;
    -webkit-transform: perspective(400px) rotateY(0deg);
    -moz-transform: perspective(400px) rotateY(0deg);
    -ms-transform: perspective(400px) rotateY(0deg);
    -o-transform: perspective(400px) rotateY(0deg);
    transform: perspective(400px) rotateY(0deg);
}

.project-block .inner-box .image .overlay-box:after{
    position:absolute;
    content:'';
    left:0px;
    top:0px;
    width:50%;
    height:100%;
    display:block;
    opacity:0;
    text-align:center;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    -webkit-transform: perspective(400px) rotateY(90deg);
    -moz-transform: perspective(400px) rotateY(90deg);
    -ms-transform: perspective(400px) rotateY(90deg);
    -o-transform: perspective(400px) rotateY(90deg);
    transform: perspective(400px) rotateY(90deg);
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: right;
    -o-transform-origin: left;
    transform-origin: left;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background-color: rgba(0,0,0,0.50);
}

.project-block .inner-box:hover .image .overlay-box:after{
    opacity: 1;
    -webkit-transform: perspective(400px) rotateY(0deg);
    -moz-transform: perspective(400px) rotateY(0deg);
    -ms-transform: perspective(400px) rotateY(0deg);
    -o-transform: perspective(400px) rotateY(0deg);
    transform: perspective(400px) rotateY(0deg);
}

.project-block .inner-box:hover .image .overlay-box{
    opacity: 1;
}

.project-block .inner-box .image .overlay-box .overlay-inner{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: table;
    text-align: left;
    padding: 10px 20px;
    vertical-align: middle;
}

.project-block .inner-box .image .overlay-box .overlay-inner .overlay-content{
    position: relative;
    text-align:center;
    display: table-cell;
    vertical-align: middle;
}

.project-block .inner-box .image .overlay-box .overlay-inner .content{
    position:relative;
    background-color:#ffffff;
    padding:20px 30px 18px;
    z-index:1;
    overflow:hidden;
    display:inline-block;
}

.project-block .inner-box .image .overlay-box .overlay-inner .content h6{
    position:relative;
    font-weight:400;
    line-height:1.3em;
    padding-bottom:12px;
}

.project-block .inner-box .image .overlay-box .overlay-inner .content h6 a{
    position:relative;
    color:#000000;
}

.project-block .inner-box .image .overlay-box .overlay-inner .content h6:before{
    position:absolute;
    content:'';
    left:50%;
    bottom:0px;
    width:46px;
    height:3px;
    margin-left:-23px;
    border:1px solid #666666;
}

.project-block .inner-box .image .overlay-box .overlay-inner .content .category{
    position:relative;
    font-size:13px;
    margin-top:8px;
    color:rgba(0,0,0,0.60);
    text-transform:capitalize;
}

.project-block .inner-box .image .overlay-box .overlay-inner .content .plus{
    position:absolute;
    content:'';
    right:-30px;
    bottom:0px;
    width:22px;
    height:22px;
    color:#ffffff;
    font-size:10px;
    padding-left:5px;
    padding-top:2px;
    font-weight:600;
    display:inline-block;
    -webkit-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}

.project-block .inner-box:hover .image .overlay-box .overlay-inner .content .plus{
    right:0px;
    transition-delay: 0.3s;
}

.project-block .inner-box .image .overlay-box .overlay-inner .content .plus span{
    position:relative;
}

.project-block .inner-box .image .overlay-box .overlay-inner .content .plus:before{
    position:absolute;
    content:'';
    right:0px;
    bottom:0px;
    border-bottom: 28px solid #ff1010;
    border-left: 28px solid transparent;
}

.gallery-section .lower-content{
    position:relative;
    text-align:center;
    padding-top:110px;
}

.gallery-section .lower-content .text{
    position:relative;
    font-size:25px;
    font-weight:300;
    color:#ffffff;
    line-height:1.4em;
}

.gallery-section .lower-content h4{
    position:relative;
    color:#ffffff;
    font-weight:700;
    line-height:1.3em;
    margin-top:6px;
}

/*** 

====================================================================
    Main Footer
====================================================================

***/

.main-footer{
    position:relative;
    border-top:1px solid rgba(255,255,255,0.10);
    background: #020202;
}

.main-footer .footer-column{
    position:relative;
    width:33.3333%;
    float:left;
    border-right:1px solid rgba(255,255,255,0.10);
    text-align: center;
    display: grid;
    min-height: 30vh;
    margin: 0;
    place-items: center center;
}

.main-footer .footer-column:last-child{
    border-right:none;
}

.main-footer .footer-widget{
    position:relative;
    z-index:1;
}

.main-footer .widgets-section{
    position:relative;
}

.main-footer .logo-widget{
    position:relative;
}

.main-footer .logo-widget .logo{
    position:relative;
}

.main-footer .footer-list{
    position:relative;
}

.main-footer .footer-list li{
    position:relative;
    display: inline-block;
    margin: 0 20px;
}

.main-footer .footer-list li a{
    position:relative;
    color:#ffffff;
    font-size: 15px;
    transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 500;
}

.main-footer .footer-list li a:hover{
    color:#ff1010;
}

.main-footer .links-widget{
}

.main-footer .social-widget{
    text-align: center;
}

.main-footer .footer-bottom{
    position: relative;
    padding:30px 30px 30px 50px;
    border-top:1px solid rgba(255,255,255,0.10);
}

.main-footer .footer-bottom .copyright{
    position:relative;
    font-size:15px;
    font-weight:300;
    margin-top:15px;
    color:rgba(255,255,255,0.30);
}

/*** 

====================================================================
    Scroll To Top style
====================================================================

***/

.main-footer .footer-bottom .scroll-to-top{
    position: relative;
    width:64px;
    height:50px;
    color:#ffffff;
    font-size:20px;
    line-height:48px;
    text-align:center;
    z-index:100;
    cursor:pointer;
    display:inline-block;
    -webkit-transition:all 300ms ease;
    -ms-transition:all 300ms ease;
    -o-transition:all 300ms ease;
    -moz-transition:all 300ms ease;
    transition:all 300ms ease;
    border:1px solid rgba(255,255,255,0.10);
}

.scroll-to-top span{
    position:relative;
    display:inline-block;
}

.scroll-to-top:hover{
    color:#ffffff;
    background:#ff1010;
    border-color:#ff1010;
}

/*** 

====================================================================
    Gallery Carousel Section
====================================================================

